<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Map</ion-title>
      <ion-buttons slot="end">
      <ion-button fill="outline" (click)="logout()">
          <!-- <ion-icon name="locate"></ion-icon>  -->   
              Pick my location
          </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content>
<div style="text-align: center; margin-top: 50%">Map here</div>
</ion-content>
